# Python
.venv/
venv/
*.pyc
__pycache__/
.pytest_cache/
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
*.cover
*.log
.git
.mypy_cache
.hypothesis

# Environments
.env
.env.*
*.env
.env.local
.env.production

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.project
.pydevproject
.settings/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# Backups
*.bak
*.backup
